head
	title Fractus
	link(href="./index.css" type="text/css" rel="stylesheet")
body
	.main
		.header
			p Fractus is a simple Mandlebrot renderer written in JS.
		#easel.viewport
			canvas#drawarea
		.footer
			.control-panel
				.control-row
					.button.danger#btn-reset
						span RESET

	script(src="./dist/fractus.js")
